///////////////////////////////////////////////////
// MAIN.SCSS
// THIS IS THE MAIN SCSS PIPELINE START
//////////////////////////////////////////////////
 
//IMPORT BOOTSTRAP 
// @import "bootstrap-loader"; 


// // THE THEME STUFF 
// @import "wp_basic_styles";      
// @import "picostrap";  
// @import "woocommerce";


// // CUSTOM CSS : THE CHILD THEME STUFF, IF ITS THERE
// @import "custom";


.skip-link {
    position: absolute;
    top: -40px;
    left: 0;
    z-index: 999;
    background: #000;
    color: #fff;
    padding: 10px;
    text-align: center;
    width: 100%;
    display: none;
}

main > .lc-rendered-shortcode-wrap {
    display: block!important;
}

html.is-changing .transition-fade {
    view-transition-name: main;
}

::view-transition-old(main) {
    animation: fade 0.5s ease-in-out both;
}

::view-transition-new(main) {
    animation: fade 0.5s ease-in-out both reverse;
}

@keyframes fade {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}
