<div id="debug-manager" x-data="{mode: 'json'}">
  <div id="tree-head">
    <div id="box-title">
      <span>Data Manager</span>
    </div>
    <div class="editor-actions">
      <a href="#" x-on:click=" mode = 'json'">JSON</a>
      {# <a href="#" x-on:click=" mode = 'visual'">Easy Select</a> #}
    </div>
  </div>
  <div class="debug-manager__content">
    <div class="debug-manager__code" x-show="mode == 'json'">
      <!-- Ace Editor Container -->
      <div id="data-inspector"></div>
    </div>
    {# <div class="debug-manager__code" x-show="mode == 'visual'">
      Something here.
      </div> #}
  </div>
</div>

<script>
  function updateInspectorData() {
    if (!window.data_editor) {
      return
    }
  
    window.data_editor.setValue(JSON.stringify(window.context, null, 2))
    var totalLines = window.data_editor.session.getLength()
    // console.log('TOTAL LINES: ', totalLines)
    window.data_editor.session.foldAll(1, totalLines)
  }
  
  function toggleEditorData() {
    console.log('editor', window.inspector_data)
  
    const inspectorBox = document.getElementById('inspector-box')
  
    if (inspectorBox && inspectorBox.classList.contains('min')) {
      window.inspector_data.restore()
      updateInspectorData()
      inspectorBox.classList.remove('min')
    } else {
      window.inspector_data.minimize()
      if (inspectorBox) {
        inspectorBox.classList.add('min')
      }
    }
  }
  
  document.addEventListener('DOMContentLoaded', function () {
    var container = document.getElementById('debug-manager')
  
    window.update_inspector_data = updateInspectorData
    window.inspector_data = new WinBox({
      id: 'inspector-box',
      title: 'Data Inspector',
      border: 4,
      width: 400,
      height: 400,
      top: 45,
      right: 35,
      x: 'center',
      closed: true,
      mount: container,
      onfocus: function () {
        this.setBackground('#00aa00')
      },
      onblur: function () {
        this.setBackground('#777')
      },
      onresize: function () {
        if (window.data_inspector) {
          window.data_inspector.resize()
        }
      },
      onrestore: () => {
        // Remove event listener when restored
        document.removeEventListener('click', handleWindowClick)
      }
    })
  
    window.inspector_data.minimize()
  
    function handleWindowClick(event) {
      const target = event.target
      if (target.classList.contains('wb-minimized')) {
        // Restore the WinBox if the minimized box is clicked
        window.inspector_data.restore()
      }
    }
  
    var aceDataInspector = ace.edit('data-inspector')
    aceDataInspector.setTheme('ace/theme/tomorrow_night_bright')
    aceDataInspector.session.setMode('ace/mode/json')
    aceDataInspector.setReadOnly(true)
    aceDataInspector.setOptions({
      showPrintMargin: false,
      highlightActiveLine: false,
      wrap: true,
      useSoftTabs: false,
      showGutter: true,
      // make it foldable
      foldStyle: 'markbegin'
    })
  
    window.data_editor = aceDataInspector
  })
</script>

<style>
  .debug-manager__content {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .debug-manager__header {
    padding: 10px;
    background-color: #f0f0f0;
  }
  
  .debug-manager__code {
    flex: 1;
    overflow: hidden;
  }
  
  #data-inspector {
    height: 100%;
    width: 100%;
  }
</style>
