<script>
const quick = {
    'layout': [
        {'type': 'section', 'icon': 'layout-2-line', 'tooltip': 'Section'},
        {'type': 'container', 'icon': 'layout-width-line', 'tooltip': 'Container'},
        {'type': 'block', 'icon': 'layout-line', 'tooltip': 'Block'},
        {'type': 'grid', 'icon': 'grid-line', 'tooltip': 'Grid'},
        {'type': 'column', 'icon': 'layout-column-line', 'tooltip': 'Column'},
        {'type': 'row', 'icon': 'layout-row-line', 'tooltip': 'Row'}
    ],
    'basicElements': [
        {'type': 'basic', 'icon': 'text', 'tooltip': 'Basic'},
        {'type': 'paragraph', 'icon': 'paragraph', 'tooltip': 'Paragraph'},
        {'type': 'heading', 'icon': 'h-1', 'tooltip': 'Heading'},
        {'type': 'button', 'icon': 'play-circle-line', 'tooltip': 'Button'},
        {'type': 'link', 'icon': 'link', 'tooltip': 'Link'},
        {'type': 'image', 'icon': 'image-line', 'tooltip': 'Image'}
    ],
    'formElements': [
        {'type': 'form', 'icon': 'clipboard-line', 'tooltip': 'Form'},
        {'type': 'input', 'icon': 'pencil-line', 'tooltip': 'Input'},
        {'type': 'textarea', 'icon': 'text-wrap', 'tooltip': 'Textarea'},
        {'type': 'select', 'icon': 'list-unordered', 'tooltip': 'Select'}
    ],
    'helpers': [
        {'type': 'data', 'icon': 'database-2-line', 'tooltip': 'Data'},
        {'type': 'query', 'icon': 'search-line', 'tooltip': 'Query'}
    ]
};

function insertBlock(type) {
    var selector = active_selector;
    var blockHTML = null;
    
    const selectedBlock = doc.querySelector(selector);
    
    switch(type) {
        case 'section':
            insertSection();
            return;
        case 'container':
            blockHTML = "<div class='container mx-auto'></div>";
            $('.close-sidepanel').click();
            break;
        case 'data':
            updateInspectorData();
            break;
        case 'block':
            blockHTML = '<div class="block"></div>';
            break;
        case 'basic':
            blockHTML = '<span>This is a span</span>';
            break;
        case 'paragraph':
            blockHTML = '<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio debitis praesentium aperiam, dolorem inventore quaerat veritatis fugit omnis, laboriosam aut commodi deserunt odit tempora eum molestias quisquam, maxime quod quasi.</p>';
            break;
        case 'heading':
            blockHTML = '<h1 class="text-4xl font-bold">This is a header</h1>';
            break;
        case 'button':
            blockHTML = '<button class="btn">Get Started</button>';
            break;
        case 'link':
            blockHTML = '<a href="#" class="link">Link</a>';
            break;
        case 'image':
            blockHTML = '<img src="https://placehold.co/600x400/png" alt="Placeholder Image" class="h-auto max-w-full">';
            break;
        case 'form':
            blockHTML = '<form><input type="text" placeholder="Input" class="w-full max-w-xs input input-bordered"></form>';
            break;
        case 'grid':
            blockHTML = '<div class="grid grid-cols-3 gap-4"></div>';
            break;
        case 'column':
            blockHTML = '<div class="flex flex-col"></div>';
            break;
         case 'input':
            blockHTML = '<input type="text" placeholder="Input" class="w-full max-w-xs input input-bordered">';
            break;
        case 'textarea':
            blockHTML = '<textarea placeholder="Textarea" class="w-full max-w-xs textarea textarea-bordered"></textarea>';
            break;
        case 'select':
            blockHTML = '<select class="w-full max-w-xs select select-bordered"><option disabled selected>Select</option><option>Option 1</option><option>Option 2</option></select>';
            break;
        case 'query':
            insertQuery();
            return;
        case 'row':
            blockHTML = '<div class="flex"></div>';
            break;
        default:
            blockHTML = '<div></div>';
    }
    
    if (blockHTML) {
        selectedBlock.innerHTML += blockHTML;
        const clean = html_beautify(selectedBlock.innerHTML);
        window.content_editor.setValue(clean);
    }
      
    setTimeout(updateStructureTree, 10);
}

function insertQuery() {
    var content = doc.querySelector('#lc-main').innerHTML;
    var loops = doc.querySelectorAll('[lc-helper="posts-loop"]');
    var index = loops.length + 1;
    const template = `
      <template lc-helper="posts-loop" class="live-shortcode">
        [lc_get_posts post_type="post" posts_per_page="6" output_view="lc_get_posts_listing_view" output_dynamic_view_id="query_${index}"]
      </template>`;
    doc.querySelector('#lc-main').innerHTML = template + content;
    updatePreviewSectorial('#lc-main');
}

function insertSection() {
    event.preventDefault();
    $("#sidepanel .close-sidepanel").click();
    myConsoleLog("Let's create a new section");
    
    var newSectionHTML = "<section class='section'></section>";
    var lastSection = document.querySelector("main#lc-main section:last-child");
    
    if (!lastSection || lastSection.getAttribute("ID") !== "global-footer") {
        myConsoleLog("No magic footer detected");
        setPageHTML("main#lc-main", getPageHTML("main#lc-main") + newSectionHTML);
        updatePreviewSectorial("main#lc-main");
    } else {
        myConsoleLog("Magic footer detected");
        var footer_code = document.querySelector("main#lc-main > section#global-footer").outerHTML;
        document.querySelector("main#lc-main > section#global-footer").remove();
        setPageHTML("main#lc-main", getPageHTML("main#lc-main") + newSectionHTML + footer_code);
        updatePreview();
    }
    
    var selector = CSSelector(previewFrame.contents().find("main section:last")[0]);
    $(".sidepanel-tabs a:first").click();
    
    setTimeout(function () {
        previewFrame.contents().find("html, body").animate({ scrollTop: previewFrame.contents().find(selector).offset().top }, 500, 'linear');
    }, 100);
}
</script>

<div x-data="{ quick: quick }" class="fixed top-0 right-0 flex flex-col items-center justify-around w-full h-full z-100">
    <template x-for="(category, categoryName) in ['layout', 'basicElements', 'formElements', 'helpers']">
        <div class="flex flex-col items-center justify-center">
            <template x-if="categoryName === 'helpers'">
                <div class="divider w-4/5 my-2.5"></div>
            </template>
            <template x-for="element in quick[category]" :key="element.type">
                <div 
                    class="w-full h-8 btn btn-ghost btn-sm tooltip tooltip-left" 
                    :data-tip="element.tooltip"
                    @click="insertBlock(element.type)"
                >
                    <i :class="'ri-' + element.icon + ' text-base'"></i>
                </div>
            </template>
        </div>
    </template>
</div>