<div id="resource-container" x-data="{
  tab: null,
  onChangeTab(selected) {
    // If the selected tab is the same as the current tab set it to null
    this.tab = selected === this.tab ? null : selected;
  }
}">
  <div>
    {{ include('components/resource/populate.html') }}
    {{ include('components/resource/attributes.html') }}
  </div>
</div>

<style>
.rotate-icon {
  transform: rotate(90deg);
}
.box-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  height: 40px;
  background-color: #333;
  color: #fff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}
  .editor-container {
    height: 100%;
    width: 100%;
  }
  
  .editor-content > .ace_content {
    padding: 10px !important;
  }

  .hidden {
    display: none!important;
  }
</style>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    // Function to initialize Ace Editor
    function initAceEditor(element) {
      window.attribute_editor = ace.edit(element)
      // make editor transparent
      window.attribute_editor.setTheme('ace/theme/tomorrow_night_bright')
      attribute_editor.setOptions({
        showPrintMargin: false,
        highlightActiveLine: false,
        showPrintMargin: false,
        wrap: true,
        mode: 'ace/mode/twig',
        tabSize: 0,
        useSoftTabs: false,
        // enable autocomplete
        enableBasicAutocompletion: true,
        enableLiveAutocompletion: true,
        enableEmmet: true,
        showGutter: true,
        enableSnippets: true,
        enableAutoIndent: false,
        indentedSoftWrap: false, // Add this line to disable indented soft wrapping
        displayIndentGuides: false // Add this line to hide indentation guides
      })
  
      const editorElement = window.attribute_editor.container
      editorElement.style.paddingLeft = '10px'
      editorElement.style.marginLeft = '0'
      // remove indentions from editor
      window.attribute_editor.setOption('enableAutoIndent', false)
      window.attribute_editor.renderer.setScrollMargin(18, 18)
      // set margin x axis
      window.attribute_editor.renderer.setPadding(10)
  
      return attribute_editor
    }
  
    const container = document.getElementById('resource-container')
  
    // Initialize WinBox with Ace Editor
    window.resource_box = new WinBox({
      title: 'Resources',
      border: 4,
      width: window.winbox_width,
      height: 300,
      minheight: 300,
      minwidth: 300,
      top: 660,
      left: 0,
      right: 0,
      bottom: 45,
      index: 0,
      mount: container,
      onfocus: function () {
        this.setBackground('#00aa00')
      },
      onblur: function () {
        this.setBackground('#777')
      }
    })
    window.resource_box.restore()
    // Initialize Ace Editor inside the WinBox
    const editor = initAceEditor(document.getElementById('editor'))
  
    function getDirectText(selector) {
      const element = doc.querySelector(selector)
      let text = ''
      for (let node of element.childNodes) {
        if (node.nodeType === Node.TEXT_NODE) {
          text += node.textContent
        }
      }
      return text
        .trim()
        .replace(/[\u200B-\u200D\uFEFF]/g, '')
        .replace(/\s+/g, ' ') // Remove zero-width characters and replace multiple spaces/newlines with a single space
    }
  
    function updateDirectTextNodes(element, newText) {
      for (let node of element.childNodes) {
        if (node.nodeType === Node.TEXT_NODE) {
          node.textContent = newText
        }
      }
    }
  })
</script>
