<div id="tree-window" class="treebox-container">
  <div class="relative-treebox-container">
    <div class="tree-box">
      <div id="tree-body-container" class="window-container" style="margin: 0; z-index: 0; width: 100%">
        <div id="tree-head">
          <span>
            <a href="#" id="tree-expand-all">Expand All</a>
            <a href="#" id="tree-collapse-all">Collapse All</a>
          </span>
        </div>
        <div id="tree-body"></div>
      </div>
      {{ include('components/element-toolbar.html') }}
    </div>
  </div>
</div>

<script>
  // Function to initialize the tree view
  function initTreeView() {
    const treeBoxContainer = document.getElementById('treebox-container')
    if (treeBoxContainer) {
      const rootSelector = 'body' // Replace with the appropriate selector for the root element
      const treeHTML = renderTreeHTMLStructure(rootSelector)
      treeBoxContainer.innerHTML = treeHTML
      setTimeout(() => {
        // Programmatically click the tree-expand-all element
        const expandAllButton = document.querySelector('#tree-expand-all')
        if (expandAllButton) {
          expandAllButton.click()
        } else {
          console.warn('Expand all button not found')
        }
      }, 100)
    } else {
      console.error('Tree box container not found')
    }
  }
  
  // Call the initTreeView function when the page loads
  window.addEventListener('load', initTreeView)
</script>

<style>
  /* Treebox Container */
  .treebox-container {
    position: fixed;
    right: 0;
    top: var(--maintoolbar-height);
    width: 375px;
    margin-left: auto;
    z-index: 0;
    height: 100%;
    padding-bottom: 1.5rem; /* Increased bottom padding */
    display: flex;
  }
  
  .relative-treebox-container {
    position: relative;
    width: 100%;
    height: calc(100% - var(--maintoolbar-height));
    margin-left: auto;
  }
  
  .tree-box {
    width: 100%;
    height: 100%;
    max-width: 325px;
    margin-left: auto;
    display: flex;
    margin-left: auto;
    margin-right: 0;
  }
  
  // 350 width on default
  
  /* .window-container {
                                  // remove scrollbar
                                  scrollbar-width: none;
                                  -ms-overflow-style: none;
                                  overflow-x: auto;
                                  width: 325px;
                                }
                                
                                .window-container::-webkit-scrollbar {
                                  display: none;
                                } */
  
  /* Tree Window */
  #tree-window > .window-container {
    height: 100%;
    overflow: auto;
    margin-bottom: 1rem;
    padding-top: 0.8rem; /* Added top padding */
    padding-bottom: 1.5rem; /* Increased bottom padding */
    top: 0;
  }
  
  /* Tree Body */
  #tree-body {
    height: calc(100% - 1rem);
    overflow: auto;
    margin-right: 52px;
    /* scrollbar-width: none;
                            -ms-overflow-style: none; */
    background-color: var(--color-interface-bg-dark);
    padding-bottom: 1.5rem; /* Added bottom padding */
  }
  
  /* #tree-body::-webkit-scrollbar {
                            display: none;
                          } */
  
  /* Tree Head */
  #tree-head {
    position: sticky;
    top: 0;
    left: 0;
    display: flex;
    z-index: 1;
    gap: 3px;
    justify-content: space-between;
    padding: 6px 10px;
    font-size: 11px;
    background-color: var(--color-interface-bg-dark);
    color: var(--color-prop-icons);
    border-bottom: 1px solid color-mix(in srgb, var(--color-interface-bg-dark) 80%, grey);
  }
  
  #tree-head a {
    color: var(--color-grey-2);
    text-decoration: none;
  }
  
  #tree-head a:hover {
    color: var(--color2);
  }
  
  #tree-head a#tree-expand-all {
    margin: 0 3px 0 0;
  }
  
  #tree-head a#tree-expand-all::before {
    content: '\f065';
    font: normal normal normal 10px / 1 FontAwesome;
    margin: 0 3px 0 0;
  }
  
  #tree-head a#tree-collapse-all::before {
    content: '\f066';
    font: normal normal normal 10px / 1 FontAwesome;
    margin: 0 3px 0 0;
  }
  
  /* Tree Structure */
  #tree-body {
    width: 100%;
    user-select: none;
    --space: 16px;
  }
  
  .tree-view-container {
    margin-top: 0;
    padding: 0 12px;
  }
  
  .tree-view-item {
    display: block;
    font-family: 'Monaco', 'Menlo', 'Ubuntu Mono', 'Consolas', 'source-code-pro', monospace;
    color: var(--color-lightgrey);
    font-size: 12px;
    white-space: nowrap;
    position: relative;
  }
  
  .tree-view-item.active {
    outline: 1px solid var(--color2);
    color: white;
    width: fit-content;
  }
  
  .tree-view-item-content-wrapper {
    display: flex;
    align-items: center;
    gap: 6px;
    width: fit-content;
    padding: calc(var(--space) * 0.3) calc(var(--space) * 0.4);
  }
  
  .tree-view-item-content-wrapper:hover {
    background-color: var(--color-accents);
    cursor: pointer;
  }
  
  /* Tree Item Icon */
  .tree-item-icon svg {
    color: var(--color1);
  }
  
  /* Tree Item Tagname */
  .tree-item-tagname {
    font-weight: bold;
    opacity: 0.7;
  }
  
  /* Tree Item ID */
  .tree-item-id {
    color: var(--color-secondary);
  }
  
  /* Tree Item Classes */
  .tree-item-classes {
    color: var(--color-accent);
  }
  
  /* Tree Children */
  ul.tree-children {
    padding-left: var(--space);
    position: relative;
  }
  
  ul.tree-children::after {
    position: absolute;
    top: 0;
    left: calc(var(--space) * 0.4);
    border-right: 1px solid var(--color-accents);
    content: '';
    height: calc(100% - (var(--space) * 0.8));
  }
  
  ul.tree-children > li::before {
    position: absolute;
    top: calc(var(--space) * 0.8);
    left: calc(var(--space) * -0.6);
    border-top: 1px solid var(--color-accents);
    content: '';
    width: calc(var(--space) * 0.75);
  }
  
  /* Tree Item Cursor */
  .tree-view-item-content-wrapper:has(+ .tree-children) {
    cursor: zoom-in;
  }
  
  .tree-view-item-content-wrapper:has(+ .tree-children:not([hidden])) {
    cursor: zoom-out;
  }
</style>
