<!DOCTYPE html>
<html style="margin-top: 0px!important;">
<head>

{% do agnostic_header %}
{{ include('builder_head_tweaks.html') }}
</head>
<body class="bg-neutral text-base-content">

{{ include('components/loader.html') }}

<div id="_build-wrap" style="opacity: 0" x-data="AgnosticManager()" x-init="init">
{{ include('components/tailwind-manager.html') }}

{# Include extensions for Livecanvas #}
{# {{ include('components/debug.html') }} #}
{{ include('components/helper-tags.html') }}
{# {{ include('components/class-manager.html') }} #}
{# {{ include('components/tree-view.html') }} #}

{# Sidebar left rework #}
{{ include('components/left-sidebar') }}

{# {{ include('components/responsive.html') }} #}
{# {{ include('components/text-manager.html') }} #}
{# {{ include('components/resource-manager.html') }} #}
{{ include('components/tree-context.html') }}
{{ include('components/new-tree.html') }}
{{ include('components/preview-manager.html') }}
</div>


{# <div id="media-modal" class="hidden modal">
 <iframe id="media-iframe" frameborder="0" scrolling="auto" marginwidth="0" marginheight="0"></iframe>
</div>

<iframe id="agnostic-tailwind-compiler" src="/agnostic/autocomplete" class="hidden"></iframe> #}

<script>
// Mkae Agnostic Tailwind Compiler available globally
window.compiler = document.getElementById('agnostic-tailwind-compiler').contentWindow;

// Make a refresh function for the compiler
window.refreshCompiler = () => {
  window.compiler.location.reload();
};

// Get style tag from compiler head and return it
window.getStyleTag = () => {
  // get the style tag with no type or id 
  const styleTag = window.compiler.document.querySelectorall('style:not([type]):not([id])');
  return styleTag;
};

//make it async getSuggestionList function from compiler window which takes a string
window.getSuggestionList = async (str) => {
  const completions = await window.compiler.getSuggestionList(str);
  return completions;
};


</script>

 <script>
        window.reloadTailwindCSS = function() {
            const iframe = document.getElementById('previewiframe');
            if (iframe) {
                const iframeDocument = iframe.contentDocument || iframe.contentWindow.document;
                const link = iframeDocument.getElementById('agnostic-tailwind-css');
                if (link) {
                    const currentHref = link.getAttribute('href');
                    const newHref = currentHref.split('?')[0] + '?v=' + new Date().getTime();
                    link.setAttribute('href', newHref);
                    console.log(`CSS reloaded with href: ${newHref}`);
                } else {
                    console.error('Link tag with id "agnostic-tailwind-css" not found in iframe.');
                }
            } else {
                console.error('Iframe with id "previewiframe" not found.');
            }
        };
    </script>

    <script>
      // In the parent window
      window.addEventListener('message', function(event) {
          if (event.data.type === 'tailwindCSSSaved') {
              console.log('Received message: Tailwind CSS saved in iframe');
              if (typeof window.reloadTailwindCSS === 'function') {
                  window.reloadTailwindCSS();
              } else {
                  console.error('window.reloadTailwindCSS is not a function');
              }
          }
      });

    </script>

<style>

:root {
    --maintoolbar-height: 45px;
}

html {
  margin-top: 0px!important;
}

 .modal {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 100;
   visibility: hidden;
   z-index: 999999999999999;
 }
 
 .modal.visible {
   visibility: visible;
 }
 
 #media-iframe {
   width: 80%;
   height: 80%;
   border: none;
   border-radius: 1rem;
   overflow: hidden;
 }
 
 #close-modal {
   padding: 10px 20px;
   background-color: #ccc;
   border: none;
   cursor: pointer;
 }

 #wpadminbar {
  display: none!important;
 }
</style>

<script>
const openMediaButton = document.querySelector('.open-media-modal');
const mediaModal = document.getElementById('media-modal');
const mediaIframe = document.getElementById('media-iframe');

openMediaButton.addEventListener('click', () => {
 const currentDomain = window.location.origin;
 const mediaUrl = `${currentDomain}/wp-admin/media.php?page=lc-media-selector`;
 mediaIframe.src = mediaUrl;
 mediaModal.classList.add('visible');

 mediaIframe.addEventListener('load', () => {
   try {
     const iframeDocument = mediaIframe.contentDocument || mediaIframe.contentWindow.document;
     const mediaToolbar = iframeDocument.querySelector('.media-frame-toolbar');
     const closeButton = iframeDocument.querySelector('.media-modal-close');

     if (mediaToolbar) {
       mediaToolbar.style.display = 'none';
     }

     if (closeButton) {
       closeButton.style.display = 'none';
     }

     console.log('Applied styles to iframe elements');
   } catch (error) {
     console.error('Failed to apply styles to iframe elements:', error);
   }
 });
});

mediaModal.addEventListener('click', (event) => {
 if (event.target === mediaModal) {
   closeModal();
 }
});

mediaIframe.addEventListener('click', (event) => {
 event.stopPropagation();
});

document.addEventListener('keydown', (event) => {
 if (event.key === 'Escape') {
   closeModal();
 }
});

function closeModal() {
 mediaModal.classList.remove('visible');
 mediaIframe.src = '';
}
</script>



<div class="hidden w-full h-[var(--maintoolbar-height)] bg-base-100 border-b border-base-content/30 text-base-content select-none">
  <!-- Content of your maintoolbar -->
</div>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const maintoolbar = document.getElementById('maintoolbar');
    if (maintoolbar) {
        maintoolbar.removeAttribute('id');
        maintoolbar.classList.add('w-full', 'h-[var(--maintoolbar-height)]', 'bg-base-100', 'text-base-content', 'select-none');
    }
});
</script>

<script>
function CSSelector(el) {
	var names = [];
	while (el.parentNode) {
		if (el.nodeName == "MAIN" && el.id == "agnostic-content") {
			names.unshift(el.nodeName + '#' + el.id);
			break;
		} else {
			if (el === el.ownerDocument.documentElement || el === el.ownerDocument.body) {
				names.unshift(el.tagName);
			} else {
				for (var c = 1, e = el; e.previousElementSibling; e = e.previousElementSibling, c++) { }
				names.unshift(el.tagName + ':nth-child(' + c + ')');
			}
			el = el.parentNode;
		}
	}
	return names.join(' > ');
}
</script>

<script>
window.addEventListener('message', (event) => {
  if (event.data.type === 'activeElementsChanged') {
    const elements = event.data.activeElements;
    console.log('Active elements changed:', elements);
    window.AgnosticPreviewStore.setActiveElements(elements);
  }

   if (event.data.type === 'hoveredElementChanged') {
    const element = event.data.selector;
    window.AgnosticTree.onHighlightHoverTreeElement(element);
  }
});
</script>


{% do agnostic_footer %}
</div>
</body>
</html>